@import "tailwindcss";

@theme {

    --animate-fade-out-scale: fade-out-scale 3s ease-out forwards;

    @keyframes fade-out-scale {
        0% {
        opacity: 1;
        transform: scale(1);
        }
        100% {
        opacity: 0;
        transform: scale(0.95);
        }
    }
}